@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e2791c;
  --color-primary-500: #e2791c80;
  --color-secondary: #191919;
  --color-secondary-500: #19191980;
}

html body {
  color: var(--color-primary);
  background: var(--color-secondary);
  overflow: hidden;
  width: 100%;
  position: fixed;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 和 Edge */
}

.h1 {
  /*Font size=24px Letter spacing = 0% Line height = Auto*/
  @apply text-2xl font-bold tracking-normal;
}

.h2 {
  /*Font size=18px Letter spacing = 5% Line height = 20 px*/
  @apply text-lg font-bold leading-5 tracking-tighter;
}

.h3 {
  /*Font size=16px Letter spacing = 1% Line height = 20 px*/
  @apply text-base font-black leading-5;
  letter-spacing: 0.01em;
}

.c1 {
  /*Font size=14px Letter spacing = 0% Line height = 18 px*/
  @apply text-sm font-semibold leading-[1.125rem] tracking-normal;
}

.c2 {
  /*Font size=14px Letter spacing = 0% Line height = 18 px*/
  @apply text-sm  leading-[1.125rem] tracking-normal;
}

.paragraph {
  /*Font size=16px Letter spacing = 0% Line height = 26 px*/
  @apply leading-[1.625rem] tracking-normal;
}
